<div class="container" >

    <div class="row">

        <div class="col-lg-12" data-ng-init="get_actor_list()">  <!-- get list before loading page -->
            <h1 class="page-header">Actors
            </h1>
        </div>

    </div>
 
    <table  ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
      <!-- "rank": 1,
        "actor": "Kemal Sunal",
        "ave_rating": 8.899999809265136,
        "gross_box_office": 0.0,
        "number": 5 -->
    <tr ng-repeat="actors in $data">
        <td title="'Id'">
            {{actors.rank}}</td>
        <td title="'Actor'" >
            {{actors.actor}}</td>
        <td title="'Rating'" sortable="'ave_rating'">
            {{actors.ave_rating}}</td>
        <td title="'Gross'" sortable="'gross_box_office'">
            {{actors.gross_box_office}}</td>
        <td title="'Number'" sortable="'number'">
            {{actors.number}}</td>
    </tr>
    </table>


</div>  