<div class="container" >

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Movie
            </h1>
            <!-- <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Movie</li>
            </ol> -->

        </div>

    </div>


</div>  

<div class="container">

<div class="row">
<div class="=col-lg-4">
    <img ng-src="{{poster_url}}">
</div>
</div>

<div class="row">
<div class="col-lg-4">
    <h3>
            Title: {{title}}
    </h3> 
</div>
</div>
    
 
</div>
<!-- /.container -->

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <p>Director: {{director}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Boxoffice: {{boxoffice}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Country: {{country}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Genres: {{genre}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Language: {{language}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Plot: {{plot}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Production: {{production}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Release Date: {{releaseDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Runtime: {{runtime}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Writer: {{writer}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>IMDB rating: {{imdbRating}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>IMDB votes: {{imdbVotes}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Movie website: <a>{{website}}</a></p>
        </div>
    </div>


</div>

<!-- $scope.genre=movie_info.Genre;
    $socpe.language=movie_info.Language;
    $scope.plot=movie_info.Plot;
    $socpe.production=movie_info.Production;
    $socpe.releaseDate=movie_info.Released;
    $socpe.runtime=movie_info.Runtime;
    $socpe.website=movie_info.Website;
    $scope.writer=movie_info.Writer;
    $scope.imdbRating=movie_info.ImdbRating;
    $scope.imdbVotes=movie_info.ImdbVotes; -->









